.container1{
    width: 1300px;
    height: 64px;
    margin:0 auto;
    padding: 0 40px;
}
.nav{
    background-color:rgb(3,37,65);
    color:#fff;
    position: sticky;
    z-index: 9999;
    top: 0;
}
img{
    width: 154px;
    height: 20px;
}
li{
    font-weight: 600;
    list-style: none;
}
.navbarUl{
    width: 308px;
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
}
.fa-magnifying-glass{
    transform: translate(-5px, -5px);
}
.spanLength{
    padding: 1px 8px 2px 8px;
    border-radius: 5px;
}
.fa-heart{
    font-size: 25px;
}